<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PasswordGenerator.Properties.Settings>
            <setting name="PasswordGeneratorLength" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="PasswordGeneratorMinSymbols" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PasswordGeneratorMinUpperCharacters" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PasswordGeneratorMinLowerCharacters" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PasswordGeneratorMinDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PasswordGeneratorLowerCharacters" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyz</value>
            </setting>
            <setting name="PasswordGeneratorUpperCharacters" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZ</value>
            </setting>
            <setting name="PasswordGeneratorSymbols" serializeAs="String">
                <value>!@$()=+-,:.</value>
            </setting>
            <setting name="PasswordGeneratorDigits" serializeAs="String">
                <value>0123456789</value>
            </setting>
            <setting name="AutoClearClipboard" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </PasswordGenerator.Properties.Settings>
    </userSettings>
</configuration>