<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="10B7D677-A586-4993-949D-321DB3F23250"
           Name="Myna Password Manager"
           Language="1033"
           Version="0.9.2.1"
           Manufacturer="NylsSoft"
           UpgradeCode="3ECEC9E3-5379-4274-B3B4-BD1A5CC60CFF">
    <Package InstallerVersion="200" Compressed="yes"/>
    
    <Media Id="1" Cabinet="MynaPasswordManager.cab" EmbedCab="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="NylsSoft">
          <Directory Id="ApplicationFolder" Name="Myna Password Manager">
            <Directory Id="LanguageFolder.DE" Name="de" />
          </Directory>          
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Myna Password Manager"/>
      </Directory>
    </Directory>
    
    <DirectoryRef Id="ApplicationFolder">
      <Component Id="PasswordManager" Guid="359CB3C2-F2A6-4610-A429-B7A38B05749E">
        <File Id="PasswordManagerFile" Source="$(var.PasswordManager.TargetDir)\MynaPasswordManager.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PasswordManagerConfig" Guid="75D825B4-40C2-4CBD-8386-9B4FF45C4BDE">
        <File Id="PasswordManagerConfigFile" Source="$(var.PasswordManager.TargetDir)\MynaPasswordManager.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PasswordGenerator" Guid="0DAB4C75-DF18-4DD7-8953-229BEECC3D04">
        <File Id="PasswordGeneratorFile" Source="$(var.PasswordGenerator.TargetDir)\MynaPasswordGenerator.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PasswordGeneratorConfig" Guid="A16D8DA5-DA3E-43B0-B08C-654C4893DE18">
        <File Id="PasswordGeneratorConfigFile" Source="$(var.PasswordGenerator.TargetDir)\MynaPasswordGenerator.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="LanguageFolder.DE">
      <Component Id="LanguagePasswordManager.DE" Guid="8F4A02AC-2849-4D9C-BE19-5C3D3461860B">
        <File Id="LanguagePasswordManagerFile.DE" Source="$(var.PasswordManager.TargetDir)\de\MynaPasswordManager.resources.dll" KeyPath="yes" Checksum="yes"/>
      </Component>      
      <Component Id="LanguagePasswordGenerator.DE" Guid="2A66F38E-F37B-4976-B32E-74AF8F4D43A4">
        <File Id="LanguagePasswordGeneratorFile.DE" Source="$(var.PasswordGenerator.TargetDir)\de\MynaPasswordGenerator.resources.dll" KeyPath="yes" Checksum="yes"/>
      </Component>      
    </DirectoryRef>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="FE62E711-1583-41D9-8B4D-01A8FD85E792">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="Myna Password Manager" 
                  Description="A secure password manager"
                  Target="[#PasswordManagerFile]"
                  WorkingDirectory="ApplicationFolder"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MynaPasswordManager" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <Feature Id="MainApplication" Title="Myna Password Manager" Level="1">
      <ComponentRef Id="PasswordManager" />
      <ComponentRef Id="PasswordManagerConfig" />
      <ComponentRef Id="PasswordGenerator" />
      <ComponentRef Id="PasswordGeneratorConfig" />
      <ComponentRef Id="LanguagePasswordManager.DE" />
      <ComponentRef Id="LanguagePasswordGenerator.DE" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    
    <Icon Id="icon.ico" SourceFile="$(var.PasswordManager.ProjectDir)\Images\icon.ico"/>
    
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
  
  </Product>

</Wix>
