<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PasswordManager.Properties.Settings>
            <setting name="CacheDirectory" serializeAs="String">
                <value>%MyDocuments%\NylsSoft\PasswordManager\.cache</value>
            </setting>
            <setting name="KeyDirectory" serializeAs="String">
                <value>%MyDocuments%\NylsSoft\PasswordManager\.key</value>
            </setting>
            <setting name="LastUsedRepositoryFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialDirectory" serializeAs="String">
                <value>%MyDocuments%</value>
            </setting>
            <setting name="AutoHidePassword" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReenterPassword" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ShowLoginColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClearClipboard" serializeAs="String">
                <value>30</value>
            </setting>
        </PasswordManager.Properties.Settings>
    </userSettings>
</configuration>